/*
 * Authors: Nassim Boudekhani & Joseph Couprie
 * Date: 2025-11-14
 */

/* --- Global Style --- */
:root{
	--shark: #3a4f5c;
	--shark-rgb: rgb(74, 113, 139); /* test, do not delete */
	--shark-rgb: 75, 110, 135;
}

* {
	cursor: url("media/shark_cursor.png") 0 30, auto;
	scroll-behavior: smooth;
	scroll-margin-top: 7rem;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
}

header,
section {
	padding: 2.5rem;
}

h1,
h2 {
	margin-top: 0;
	size: 2rem;
	font-weight: 700;
}

/* --- Hero Section --- */
.hero {
	padding-top: 7.75vw;
	padding-bottom: 7.75vw;
	overflow: hidden;
	background-image: url("media/title_image.png");
	background-repeat: no-repeat;
	background-size: 170%;
	background-position: 100% 50%;
	background-origin: border-box;
	background-color: #fdfdfd;
	text-align: center;
}

.hero h1 {
	font-size: 6vh;
	margin-bottom: 1.25rem;
}

.hero p {
	font-size: 2.6vh;
	max-width: 40rem;
	margin: 0 auto 2rem;
}

.cta-btn {
	position: relative; top:4vh;
	display: inline-block;
	background: rgba(var(--shark-rgb), 0.95);
	color: white;
	padding: 1rem 2rem;
	border-radius: 6px;
	font-size: 1.1rem;
	text-decoration: none;
	transition: 0.2s;
}

.cta-btn:hover {
	box-shadow: 0 0.5rem 0 rgba(var(--shark-rgb), 0.5);
	transform: translateY(-0.17rem);
}

/* --- Section shading --- */
.shade-light {
	background-color: #fdfdfd;
}

.shade-mid {
	background-color: #b4c6d1ad;
	overflow: hidden;
	
	background-image: url("media/title_image2.png");
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0% 100%;
	background-origin: border-box;
	padding: 3.5rem;
}

.shade-dark {
	background-color: #d4e3ef;
}

/* --- About Section --- */
.about {
	max-width: 75rem;
	text-align:center;
	margin: auto;
}

/* --- Product Cards --- */
.products {
	max-width: 70rem;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;
}

.card {
	background: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.card img {
	width: 100%;
	display: block;
	height: 70%;
	max-height: 25rem;
}

.card h3 {
	margin: 15px 0 10px;
}

.card p {
	padding: 0 15px 20px;
}

/* --- Features --- */
.features {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.feature {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* --- Footer --- */
footer {
	background: #1a1a1a;
	color: #dddddd;
	text-align: center;
	padding: 40px 20px;
	font-size: 0.9rem;
}

@media (orientation: portrait) {
  .shade-mid {
    background-repeat:repeat;
  }
}