/*
Author: Nassim Boudekhani
Date: 2025-10-08
*/

body {
    background-color: antiquewhite;
} 

h1, h2 {
    background-image: linear-gradient(90deg, darkblue, rgb(5, 139, 0));
    color: transparent;
    background-clip: text;
    font-size: xxx-large;
    text-shadow: 3px 3px 4px black;
    text-align: center;
}

p {
    color: rgb(0, 83, 139);
    font-size: large;
    text-align: center;
}

a {
    font-family: monospace;
}

ul {
    list-style: circle;
}

ol {
    list-style: lower-alpha;
}


img {
    width: 80%;
    max-width: fit-content;
    height: 80%;
}

img[alt] {
    border-style: solid;
    border-color: blue;
}

.center {
    margin: auto;
    align-content: center;
    text-align: center;
}


#promotional-message {
    color: darkred;
}

section ol li {
    border-style: dotted;
    text-align: left;
    margin-top: 10px;
}