/*
 * Authors: Nassim Boudekhani & Joseph Couprie
 * Date: 2025-11-27
 */


/* --- Product Cards --- */
.products {
	max-width: 70rem;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;
}

#products {
	scroll-margin-top: 8rem;
}

.seasonal_blahaj {
	padding-top: 2rem;
}

.card {
	background: rgba(0, 0, 0, 0);
	overflow: visible;
	text-align: center;
	width: 100%;
	aspect-ratio: 2/3;
	perspective: 250rem;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.6s;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
}

.card.flipped .card-inner {
	transform: rotateY(180deg);
	/* flip horizontal */
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: block;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
}

.card-back {
	background-color: white;
	transform: rotateY(180deg);
}

.card img {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;

	width: 100%;
	display: block;
	height: 70%;
	max-height: 25rem;
}

.card h3 {
	margin: 15px 0 10px;
}

.card p {
	font-size: 1rem;
	width: 80%;
	margin: auto;
	text-align: center;
}

.card-back p {
	font-size: 1.2rem;
	margin-top: 2rem;
	text-align: left;
	height: 65%;
	overflow-y: auto;
}

.card-back .cta-btn {
	width: 65%;
	padding: 0.7rem;
	padding-left: 0;
	padding-right: 0;
	font-size: 1.5rem;
}

/* --- Features --- */
.features {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.feature {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.shade-dark {
	background-color: #d4e3ef;
	margin-top: 1.2rem;
	box-shadow: 0 -1.2rem 0 #7994a7;
	padding-bottom: 10rem;
}

.shade-dark h1 {
	text-align: center;
}

.shade-dark h2 {
	font-size: 1.7rem;
}

.shade-dark p {
	padding-left: 4rem;
	font-size: 1.6rem;
	width: 100%;
	margin: auto;
	margin-bottom: 1rem;
}

/* --- About Section --- */
.about {
	max-width: 75rem;
	text-align: center;
	margin: auto;
}


@media (orientation: portrait) {
	.card-back p {
		font-size: 1.1rem;
	}

	.bg2,
	.bg1 {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}

	.bg2 {
		padding: 0;
		background-image: none;
		padding-bottom: 5rem;
	}

	.bg2 h1 {
		padding-top: 2rem;
	}

	.products {
		width: 80%;
		margin: auto;
	}
}
