/*
 * Authors: Nassim Boudekhani & Joseph Couprie
 * Date: 2025-12-12
 */

/* --- Global Style --- */
:root {
	--shark: #3a4f5c;
	--shark-rgb: rgb(74, 113, 139);
	/* test, do not delete */
	--shark-rgb: 75, 110, 135;
	--shark-hsl: 205;
	/* , 28.6%, 41.2%; */
	--shark-white: #e3e2dd;

	--section-header-size: 1.7rem;
	--section-text-size: 1.4rem;
}

* {
	cursor:
		url("media/shark_cursor.png") 0 30,
		auto;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
}






/* --- Main Content --- */
main {
	min-height: 80vh;
}

main {
	display: flex;
	--border: #626468;
}

@media (width < 60rem) {
	main {
		display: block;
	}
}


/* CART PREVIEW */
.cart {
	width: 40vw;
	min-width: 25rem;
}

.cart ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.cart-item {
	--item-height: 12rem;
	width: 100%;
	min-width: 25rem;
	height: var(--item-height);
	display: inline-block;
	border: 1px solid var(--border);
	border-radius: 6px;
	margin: 0.5rem 0.1rem;
	padding: 1rem;
}

.cart-item .item-contents {
	display: flex;
	gap: 1rem;
	height: var(--item-height);
}

.cart-item img {
	height: var(--item-height);
	aspect-ratio: 2/3;
	border-radius: 1rem;
	object-fit: cover;
}

.cart-item-interface {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: var(--item-height);
}

.cart-item-details {
	position: relative;
	height: calc(var(--item-height) - 1rem);
}

.cart-item-details-row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.cart-item-value-field {
	width: 35%;
	min-width: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-item-details h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.cart-item-details span {
	text-align: center;
	margin: auto;
}

.cart-item-details p {
	margin-top: 0.2rem;
	margin-bottom: 0rem;
}

.cart-item-total-line {
	margin-top: 1rem;
	position: absolute;
	bottom: 0rem;
}

.shift-button {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 10rem;
}

.cart-item-controls {
	text-align: right;
	min-height: 1rem;
}

@media (width < 70rem) {
	.cart {
		margin: auto;
	}
}

@media (width < 30rem) {
	.cart {
		min-width: 17rem;
	}

	.cart-item-details {
		height: calc(var(--item-height) - 4rem);
	}

	.cart-item-details h4 {
		font-size: 1.5rem;
	}

	.cart-item {
		min-width: 17rem;
		box-sizing: border-box;
		--item-height: 17rem;
	}

	.cart-item img {
		display: none;
	}

	.cart-item-interface {
		width: 100%;
	}
}



/* DELIVERY INFO FORM */

.user-information-form {
	--input-border: #d0d7e2;
	width: 40%;
}

.user-information-form fieldset {
	border: 1px solid var(--border);
	border-radius: 6px;
	padding: 2rem;
	padding-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.personal-info {
	display: flex;
	flex-direction: column;
}

.form-row {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin: 0.5rem 0;
}

.form-row label {
	flex-shrink: 0;
}

.form-row input[type="text"] {
	flex: 1 1 auto;
	padding: 0.45rem 0.6rem;
	border: 1px solid var(--input-border);
	border-radius: 6px;
}

.form-row input[type="tel"] {
	flex: 1 1 auto;
	padding: 0.45rem 0.6rem;
	border: 1px solid var(--input-border);
	border-radius: 6px;
}

.wishes-fieldset label {
	width: 100%;
}

#wishes {
	width: 100%;
	height: 10rem;
}

#client-details button[type=submit] {
	display: block;
	background: rgba(var(--shark-rgb), 0.95);
	color: white;
	padding: 1rem 2rem;
	border-color: transparent;
	border-radius: 6px;
	font-size: 1.1rem;
	text-decoration: none;
	transition: 0.2s;
}

#client-details button[type=submit]:hover {
	box-shadow: 0 0.5rem 0 rgba(var(--shark-rgb), 0.5);
	transform: translateY(-0.17rem);
}

.error {
	color: red;
	margin: 0rem;
	font-size: calc(0.8*var(--base-size));
}


@media (width < 70rem) {
	.user-information-form {
		margin: auto;
		margin-top: 0rem;
		width: 80vw;
		box-sizing: content-box;
	}

	.client-details {
		box-sizing: content-box;
	}

	.user-information-form fieldset {
		box-sizing: border-box;
	}

	.form-row {
		display: block;
	}

	.form-row input[type=text] {
		width: 100%;
		box-sizing: border-box;
	}

	.form-row input[type=tel] {
		width: 100%;
		box-sizing: border-box;
	}

}

