/*
 * Merged CSS
 * Sources: 2025-11-14, 2025-11-27 (x2)
 *
 * Notes:
 * - Quand un merge conflict était incertain j'ai laissé un commentaire "CONFLICT" expliquant les choix.
 * - Préférence générale : utiliser les valeurs plus récentes (2025-11-27) sauf mention contraire.
 */

/* --- Global Style --- */
:root {
	--shark: #3a4f5c;
	/* Plusieurs fichiers utilisaient rgb(...) et une forme "raw numbers". 
	   J'ai choisi d'exposer la version "raw numbers" utile pour rgba(...) : */
	--shark-rgb: 75, 110, 135; /* chosen from files (some used rgb(74, 113, 139) vs "75, 110, 135") */
	/* CONFLICT: certains fichiers utilisaient 'rgb(74, 113, 139)' littéral. 
	   Si tu préfères conserver la fonction rgb(...) pour réutilisation, remplace la ligne ci-dessus par:
	   --shark-rgb: 74, 113, 139; */
	--shark-hsl: 205; /* , 28.6%, 41.2%; */
	--shark-white: #e3e2dd;

	--section-header-size: 1.7rem;
	--section-text-size: 1.4rem;
}

/* Global */
* {
	cursor:
		url("media/shark_cursor.png") 0 30, auto;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
}

/* NAVBAR */
.navbar {
	position: fixed;
	background-color: rgba(var(--shark-rgb), 1);
	box-shadow: 0rem 0.1rem 0rem 1rem rgba(var(--shark-rgb), 0.5);
	padding: 0.5rem 0rem 1.5rem 0rem;
	margin-bottom: 0rem;
	width: 100%;
	z-index: 5;
	background-size: 100% 100%;
	height: 6vh;
}

#logo {
	margin-left: 0;
	margin-right: 5rem;
	display: inline-flex;
	position: fixed;
	top: 1rem;
	left: 3rem;
	text-decoration: none;
}

#logo span {
	margin: auto;
	margin-left: 1rem;
	font-weight: bold;
	font-size: x-large;
	min-width: 8rem;
	color: var(--shark-white);
}

#cart-navigation-shortcut, #cart-navigation-shortcut img {
	position: fixed;
	top: 1.4rem;
	right: calc(40% + 1rem + 2rem);
	width: 5vh;
	height: 4vh;
}

.horizontal-spacer {
	min-width: 10%;
}

.navbar-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: var(--shark-white);
	max-width: 50%;
	width: 40%;
	position: fixed;
	top: 1.4rem;
	right: 1rem;
}

.navbar-element {
	height: 100%;
	text-align: center;
	position: relative;
	display: block;
	font-size: 1.5rem;
	font-weight: bolder;
}

@media (max-width: 1200px) {
	.navbar-element {
		font-size: 2.1vw;
	}
}

/* Nav bar drop down menus*/
.dropdown-content {
	display: none;
	position: absolute;
	max-width: 60rem;
	background-color: #f1f1f1;
	min-width: 10rem;
	box-shadow: 0rem 0.8rem 1.5rem 0rem rgba(0, 0, 0, 0.2);
	z-index: 1;
	padding: 1rem;
	text-align: left;
	font-size: 1rem;
	color: black;
	border-radius: 1rem;
}
.dropdown-content h3 {
	margin-top: 0rem;
	margin-bottom: 0.5rem;
}
.dropdown-content a {
	text-decoration: none;
	margin-bottom: 0.3rem;
}
.dropdown-content a:hover {
	text-decoration: underline;
}

.navbar-element:hover > .dropdown-content {
	display: block;
}

.hamburger {
	position: fixed;
	top: 2vh;
	right: 2vh;
	height: 5vh;
}
.hamburger img {
	height: 5vh;
	width: 5vh;
}
.hamburger .dropdown-content {
	translate: -10rem 0rem;
}
.hamburger span {
	font-size: 1rem;
}
.vertical-spacer {
	background-color: rgb(var(--shark-rgb));
	border-radius: 2px;
	width: 100%;
	height: 5px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.mobile h3 {
	font-size: medium;
}

@media (orientation: portrait) {
	.navbar {
		height: 9vh;
		width: 100%;
		display: block;
		margin: 0rem;
		padding: 0rem;
	}
	.navbar-links {
		display: block;
		margin: 0rem;
		padding: 0rem;
	}
	#logo span {
		font-size: medium;
	}
}

/* --- Popup (ajouté depuis un des fichiers) --- */
.popup-container {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.popup-content {
	background-color: #dddddd;
	position: absolute;
	/* CONFLICT: position/width différaient ; j'ai choisi une solution flexible centrée */
	--popup-width: 40vw;
	--popup-height: 40vh;
	width: var(--popup-width);
	height: var(--popup-height);
	top: calc(50vh - var(--popup-height) / 2);
	left: calc(50vw - var(--popup-width) / 2);
	box-sizing: border-box;
	padding: 2rem;

	border-radius: 1rem;
}

.popup-response-buttons {
	display: flex;
	margin: auto;
	position: absolute;
	bottom: 4rem;
	width: calc(100% - 4rem);
	justify-content: space-around;
	gap: 2rem;
	height: 3rem;
}

.popup-response-buttons button {
	flex: 1;
	position: relative;
	top: 4vh;
	display: inline-block;
	background: rgba(var(--shark-rgb), 0.95);
	color: white;
	padding: 1rem 2rem;
	border-color: transparent;
	border-radius: 6px;
	font-size: 1.1rem;
	text-decoration: none;
	transition: 0.2s;
}

.popup-response-buttons button:hover{
	box-shadow: 0 0.5rem 0 rgba(var(--shark-rgb), 0.5);
	transform: translateY(-0.17rem);
}

#back-to-top {
	visibility: visible;
	position: fixed;
	right: 3rem;
	bottom: -4rem;
	mix-blend-mode: difference;
	filter: invert();
	height: 4rem;
	z-index: 5;
}

/* --- Footer --- */
footer {
	background: #1a1a1a;
	color: #dddddd;
	text-align: center;
	padding: 40px 20px;
	font-size: 0.9rem;
}

@media (orientation: portrait) {
	.shade-mid {
		background-repeat: repeat;
	}

	.card-back p {
		font-size: 1.1rem;
	}

	#back-to-top {
		visibility: hidden;
	}

	.bg2,
	.bg1 {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.bg2 {
		padding: 0;
		background-image: none;
		padding-bottom: 5rem;
	}
	.bg2 h1 {
		padding-top: 2rem;
	}

	.products {
		width: 80%;
		margin: auto;
	}

	.shade-dark p {
		padding-left: 0;
	}

	h4 {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}

	main {
		display: block;
	}

	.popup-content {
		--popup-width: 90vw;
		--popup-height: 50vh;
	}

	.popup-response-buttons {
		height: 4rem;
	}

	.popup-response-buttons button {
		padding: 0.5rem;
	}
}

@media (orientation: portrait) {
	.desktop {
		display: none;
	}
}

@media (orientation: landscape) {
	.mobile {
		display: none;
	}
}
