/*
Author: Nassim Boudekhani
Date: 2025-09-19
*/

body {
    background-color: antiquewhite;
} 

h1 {
    background-image: linear-gradient(90deg, darkblue, rgb(5, 139, 0));
    color: transparent;
    background-clip: text;
    font-size: xxx-large;
    text-shadow: 3px 3px 4px linear-gradient(90deg, darkblue, rgb(5, 139, 0));
    text-align: center;
}

p {
    color: rgb(0, 83, 139);
    font-size: large;
    text-align: center;
}

a {
    font-family: monospace;
}

ul {
    list-style: circle;
}

ol {
    list-style: lower-alpha;
}

